.movie-categories {
    font-size: 1.8rem;
    display: inline-block;
    width: auto;
    margin-top: 40px;
    color: #eee;
    text-shadow: 2px 2px 2px black;
    margin-left: 2%;
}

.movie-categories .bar {
    color: #8acbd0;
    margin-right: 10px;
}

.movie-container {
    width: 100%;
    overflow: hidden;
    margin-top: -20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1%;
    width: 100%;
    margin-bottom: 2%;
    justify-content: center;
}

.movie-box {
    flex: 0 0 150px;
    margin: 40px 20px 5px 20px;
    background-color: rgba(16, 16, 16, 0.481);
    height: 100%;
    width: 220px;
    border-radius: 10px;
}

.movie-box:hover {
    box-shadow: 0 0 1px 1px #eee;
}

.movie-box img {
    width: 100%;
    height: 45vh;
    transition: 0.25s ease;
}

.movie-box img:hover {
    opacity: 70%;
    transition: 0.25s ease;
}

.category-title {
    display: flex;
    justify-content: center;
    color: rgb(123, 123, 123);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 20px;
}

.genre-title {
    display: flex;
    justify-content: center;
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0 15px 0;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.list p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.81);
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.list p:hover .title {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.list p:hover .counter {
    color: rgb(187, 187, 187);
}

.list .counter {
    color: grey;
    text-decoration: none;
}


/* scroll bar styling */

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px darkolivegreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #59878B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #59878B;
}