{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews - {{movie.title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/browser-logo.png' %}">
    <link rel="stylesheet" href="{% static 'style/reviews_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style/navbar2.css' %}">
    <link rel="stylesheet" href="{% static 'style/credits.css' %}">
</head>

<body>
    <div class="reviews">
        <div class="reviews-row">
            <h3 id="review-area">Reviews</h3>
            <div class="return-wrapper">
                <a href="{% url 'movie_info' movie_id=movie.id %}#review-area" class="return-link"><i class="fa-solid fa-circle-arrow-left"></i></a>
            </div>
        </div>
        <div class="review-container">
            {% for review in reviews %}
            <div class="review-wrapper">
                <div class="review-profile">
                    <div class="thumbs">
                        <i class="fa-solid fa-thumbs-up thumbs-status"></i>
                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            const thumbs = document.querySelectorAll('.thumbs');
                        
                            thumbs.forEach((thumbs, i) => {
                                const reviewStatus = document.querySelectorAll('.review-status')[i].textContent;
                                const thumbStatus = thumbs.querySelector('.thumbs-status');
                        
                                if (reviewStatus === 'Good') {
                                    thumbStatus.classList.remove('fa-thumbs-down');
                                    thumbStatus.classList.add('fa-thumbs-up');
                                    thumbStatus.style.color = 'green';
                                } else if (reviewStatus === 'Poor') {
                                    thumbStatus.classList.remove('fa-thumbs-up');
                                    thumbStatus.classList.add('fa-thumbs-down');
                                    thumbStatus.style.color = 'red';
                                }
                            });
                        });
                    </script>
                    <div class="review-profile-box">
                        <h2>{{ review.author|first }}</h2>
                    </div>
                </div>
                <div class="review-content">
                    <div class="author">
                        <h4>{{ review.author }}</h4>
                        {% if review.author == request.user.username %}
                        <form method="POST" action="{% url 'deleteReview' movie_id=movie.id%}">
                            {% csrf_token %}
                            <input type="hidden" name="review_id" value="{{ review.id }}">
                            <input type="hidden" name="review_date" value="{{ review.date }}">
                            <input type="hidden" name="review_content" value="{{ review.content }}">
                            <button class="delete-btn" type="submit"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        {% endif %}
                    </div>
                    <div class="review-details">
                        <p>{{ review.date }}</p>
                        <p class="review-status">{{ review.status }}</p>
                        <script>
                            function statusColor() {
                                const reviewStatus = document.querySelectorAll('.review-status');

                                reviewStatus.forEach((reviewStatus) => {
                                    if (reviewStatus.textContent === 'Good') {
                                        reviewStatus.style.color = 'lightgreen';
                                    } else if (reviewStatus.textContent === 'Poor') {
                                        reviewStatus.style.color = 'tomato';
                                    }
                                });
                            }

                            statusColor();
                        </script>
                    </div>
                    <div class="content">
                        <p>{{ review.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="credits-container">
        <div class="credits-bg"></div>
        <div class="color-overlay"></div>
        <div class="credits-wrapper">
            <div class="additional-links">
                <p>Links: </p>
                <a href="{% url 'recent_movie' %}" action='recent_movie' method="get">Recent Movies<i class="fa-solid fa-circle-right direct"></i></a>
                <a href="{% url 'top_movie' %}" action='top_movie' method="get">Top Movies By Genre<i class="fa-solid fa-circle-right direct"></i></a>
                <a href="{% url 'popular_movie' %}" action='popular_movie' method="get">Most Popular Movies<i class="fa-solid fa-circle-right direct"></i></a>
                <a href="{% url 'fan_fav' %}" action='fan_fav' method="get">Fan Favorites<i class="fa-solid fa-circle-right direct"></i></a>
                <a href="{% url 'upcoming_movie' %}" action='upcoming_movie' method="get">Upcoming Movies<i class="fa-solid fa-circle-right direct"></i></a>
            </div>
            <span class="line"></span>
            <div class="credits">
                <p>Cinemate is a user-friendly movie recommendation system that lets you watch movie trailers, write reviews, and receive auto-generated ratings based on your feedback. It's a must-have platform for movie enthusiasts, ensuring you discover
                    and enjoy the best films effortlessly.</p>
                <p class="copyright">&copy; 2023 Cinemate. All rights reserved.<span class="devs">TYY • NYL • LCF</span></p>
            </div>
        </div>
    </footer>
</body>

</html>